:root {
    --background-blue: #191970;
    --background-blue-hover: #5858b4;
    --user-card-background: #6715ff;
    --font-color-purple: #CCCCFF;
    --font-color-purple-user: #5D3FD3;
    --font-color-white: #FAFAFA;
    --work: #ff7418;
    --play: #1ec3f5;
    --study: rgb(255, 41, 41);
    --social: #7F00FF;
    --exercise: rgb(83, 248, 83);
    --self-care: rgb(255, 255, 95);
}

html {
    font-size: 62.5%;
    background-color: var(--background-blue);
    color: var(--font-color-white);
}

img {
    width: 25%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'user-card work play study'
    'user-card exercise social self-care'
    ;
    gap: 1rem;
}

.user-card {
    grid-area: user-card;
    background-color: var(--user-card-background);
}

.work {
    grid-area: work;
    background-color: var(--work);
}

.play {
    grid-area: play;
    background-color: var(--play);
}

.study {
    grid-area: study;
    background-color: var(--study);
}

.exercise {
    grid-area: exercise;
    background-color: var(--exercise);
}

.social {
    grid-area: social;
    background-color: var(--social);
}

.self-care {
    grid-area: self-care;
    background-color: var(--self-care);
}